@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #f9a826;
  }

  html {
    font-size: 16px;
    scroll-behavior: smooth;
  }
  p {
    @apply text-gray-600 text-sm dark:text-inherit;
  }

  ol > li {
    @apply mb-2 text-gray-600 text-sm;
  }

  body {
    @apply bg-[#f8fbfc] text-[#303030] transition-colors dark:bg-neutral-900 dark:text-zinc-400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3 {
    @apply mb-1 font-bold;
  }

  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-[150%];
  }
  h3 {
    @apply text-[125%];
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-primary;
  }

  .dec-h1::before {
    content: "";
    inset: 0.1rem;
    @apply block absolute -skew-y-3 z-10 bg-orange-500;
  }

  .dec-h1::after {
    content: "";
    inset: 0.1rem;
    @apply block absolute transition-all z-0;
  }

  .dec-h1:hover {
    text-shadow: 0 0 0.5rem var(--color-primary);

    &::after {
      @apply -skew-y-2 bg-blue-500/70 translate-x-1 translate-y-1;
    }
  }

  .siteName {
    font-family: "Covered By Your Grace", serif;
    @apply italic;
  }
}
